/* container */

.container {
display: flex;
justify-content: center;
align-items: center;
padding: 10em;
color: white;
}

/* calculator */

.calculator {
background-color: #1C1C1C;
padding: 1.5em;
border-radius: 5%;
}

/* display */

.calculator_display {
background-color: #1C1C1C;
width: 9em;
height: 1.5em;
text-align: right;
padding: .4em;
font-size: 1.5em;
}

/* buttons */

.calculator_keys {
    display: grid;
    grid-template-columns: repeat(4,auto);
    height: 15em;
    margin: 0px;  
    background-color: #1C1C1C; 
}

.ac, .plusMinus, .percent {
    background-color: #D4D4D2;
    border-radius: 50%;
    border-color: #1C1C1C; 
    color: #1C1C1C
} 

.ac:hover, .plusMinus:hover, .percent:hover {
    opacity: 70%;
} 

.divide, .multiply, .minus, .plus, .equals {
    background-color: #FF9500;
    border-radius: 50%;
    border-color: #1C1C1C; 
    color: white
}
.divide:hover, .multiply:hover, .minus:hover, .plus:hover, .equals:hover {
    opacity: 70%;
    }

.zero {
    grid-column: auto / span 2;
    background-color: #505050;
    border-color: #1C1C1C; 
    border-radius: 50%;
    color: white;
    text-align: left;
}

.zero:hover {
    opacity: 70%;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .decimal {
    background-color: #505050;
    border-radius: 50%;
    border-color: #1C1C1C;
    color: white;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover, .decimal:hover {
    opacity: 70%;
}